name: Build and Push to ECR

on:
  push:
    branches:
      - main

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Login to ECR
        run: |
          aws ecr get-login-password \
          | docker login \
          --username AWS \
          --password-stdin 382748270280.dkr.ecr.ap-south-1.amazonaws.com

      - name: Build Docker Image
        run: |
          docker build -t optifye-inference ./services/inference

      - name: Tag Image
        run: |
          docker tag optifye-inference:latest \
          382748270280.dkr.ecr.ap-south-1.amazonaws.com/optifye-inference:latest

      - name: Push Image
        run: |
          docker push 382748270280.dkr.ecr.ap-south-1.amazonaws.com/optifye-inference:latest
